.DS_Store
.idea/
projects/cassandra
projects/mongo
projects/share
projects/ubuntu
projects/python2
#projects/python3
projects/python3/pybook/docker_build/config.ini
projects/python3/pybook/docker_build/py-book-teacher
projects/python3/django/docker_build/proj01
projects/python3/django/docker_build/db.sqlite3
projects/python3/django/db_data/*
projects/mysql/.env
projects/mysql/data/*
projects/mysql/dockerfiles
projects/redis/data/*
projects/redis/docker_build
projects/golang/book/docker_build/go-book-teacher
projects/golang/book/docker_build/.env
projects/golang/book/redis_data/
projects/golang/book/logs/
projects/golang/book/logs_redis/
projects/golang/web/docker_build/go-gin-wrapper
projects/golang/web/docker_build/.env
projects/golang/web/redis_data/
projects/golang/web/db_data/
projects/golang/web/logs/
projects/nginx/content
projects/nginx/docker_build/*.bk
projects/golang/webtest/docker_build/go-server
test.sh